## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="http://vlabs-dev.vlabs.ac.in/" target="_blank">Vlabs Dev</a></li>
          <li><a href="http://feedback.vlabs.ac.in/" target="_blank">Feedback</a></li>
          <li><a href="http://outreach.vlabs.ac.in/" target="_blank">Outreach</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://code.edx.org"><img src="${static.url('themes/default/images/poweredby.png')}" style="width:150px;margin-top:-20px"/></a>
    </div>

    <!--<div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div>-->
  </footer>
</div>
